<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
  </head>
  <body>
    <%- include('header')%>

    <div class="container" style="margin-top: 50px;">
      <div class="row">
        <div class="col-sm-6" id="signupbox">
          <form action="/view-password/edit/" id="passwordfrom" method="post">
            <% if(errors !=''){%>
                <p style="text-align: center;"><%= errors.categoryname.msg%></p>
                <% }else if(success!=''){ %>
                  <p style="text-align: center;"><%=success%></p>
                  <%}%>
            <h3 align="center">Edit Password</h3>
            <div class="form-group" >
                <input type="hidden" name="id" value="<%=id%>">
              <label for="passwordname">Password Category:</label>
              <select class="form-control" name="pass_cat">
                <option value="<%= records.password_category%>"><%= records.password_category%></option>
                <%if(records1.length>0){
                  records1.forEach(function(row){
                  %>
                <option value="<%=row.password_category%>"><%=row.password_category%></option>
                <%}) }%>
              </select>
            </div>
            <div class="form-group" >
              <label for="project_name">Project Name:</label>
              <input type="text" class="form-control  rounded-lg border border-primary" placeholder="Enter Project Name" name="project_name" value="<%= records.project_name%>"></input>
            </div>
            <div class="form-group" >
              <label for="passwordname">Password Details:</label>
              <textarea class="form-control  rounded-lg border border-primary" id="editor"rows="5" placeholder="Enter Password Details" name="passwordcategory"><%=records.password_details%></textarea>
            </div>
            <input type="submit" name="submit" value="Save" class="btn btn-outline-primary" style="float: left">   
            <p> <a href="/view-password" style="float: right; margin-top:10px; ">View All Password</a></p>
          </form>
        </div> 
      </div>
    </div>
      
    <script>
      CKEDITOR.replace('editor');
    </script>
    <%- include('footer')%>
  </body>
</html>
